:root {
  --margin-m:8px;
  --margin-l:16px;
  --margin-xl:24px;
}
body {
}

.margin-left-m{
    margin-left:var(--margin-m);
}
.margin-right-m {
  margin-right: var(--margin-m);
}
.margin-top-m {
  margin-top: var(--margin-m);
}
.margin-bottom-m {
  margin-bottom: var(--margin-m);
}
.margin-m {
  margin: var(--margin-m);
}
.margin-l{
    margin: var(--margin-l);
}
.margin-left-l {
  margin-left: var(--margin-l);
}

.margin-right-l {
  margin-right: var(--margin-l);
}

.margin-top-l {
  margin-top: var(--margin-l);
}

.margin-bottom-l {
  margin-bottom: var(--margin-l);
}
.margin-b-50{
    margin-bottom:50px;
}
.view-all {
  font-size: 1.4em;
  margin-top: var(--margin-l);
}
.position-rel{
    position:relative;
}
.position-abs{
    position:absolute;
}
/*---------- Product ----------*/
.product-img{
    overflow:hidden;
}
  .product-img a img{
      width:100%;
  }
.product-img a{
    display:block;
}
.price-tag {
  bottom: 3px;
  right: 0;
  background: rgba(255, 255, 255, 0.65);
  padding: 10px;
}
.add-to-wishlist-button{
    position:absolute;
    bottom:3px;
    left:-1px;
}
.prod-details{
   margin-top:10px;
}
.product-img .add-to-wishlist-button {
  height: 38px !important;
  background-color:transparent;
}
  .product-img .add-to-wishlist-button:hover {
    background-color: rgba(255, 255, 255, 0.65);
    color:darkgray;
  }
.product-grid, .product-list{
    margin:0;
}
#topcartlink{
    background-color:transparent;
    padding:0;
    margin-top:0;
}
#topcartlink a{
    display:block;
    padding:6px 14px;
}
/*---------- Logo -------------*/
.logo-img {
  height: 60px;
  width: 60px;
  overflow: hidden;
}
.logo-img img{
    width:100%;
    height:100%;
}
.logo-name{
    margin-left:10px;
    margin-left:10px;
}
/*-----------------------------*/
.display-flex{
  display:flex; 
}

.align-content-center{
  align-content:center;
}
.align-items-center{
  align-items:center;
  
}
.align-content-space-bet{
    align-content:space-between;
}
.justify-content-center{
  justify-content:center;
}
.justify-content-space-aro{
    justify-content:space-around;
}
.justify-content-space-bet {
  justify-content: space-between;
}
.justify-content-res {
  justify-content: space-between;
}
.flex-grow-1{
    flex:1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.eu-message-cont{
  min-height:40px;
}

.header-lower{
    padding: 0px 0px;
    margin-bottom:8px;
    margin-top:8px;
}
.text-center{
    text-align:center !important;
}
.email-link{
    color:#48c4fa;
}
/*------------ Social items -----------*/
.social-item-closed {
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 70px;
  min-width: 290px;
}
.social-logo {
  overflow: hidden;
  height: 30px;
  margin-top: 20px;
}
.social-logo img{
    height:100%;
}
.s-account-img{
    width:100px; 
    height:100px;
    border-radius:50%;
    overflow:hidden;
}
.s-account-img img{
    width:100%;
}
.s-account-info{
    margin-left:20px;
    margin-right:20px;
}
.arresha-hr{
    border:none;
    border-top:1px solid #c7c7c7;
    margin-top:20px;
}
.google-search{
    min-width:360px;
}
  .google-search form.gsc-search-box{
      position:relative;
      top: 4px;
  }
  /*---------------Blog ----------------------*/
  .blog-posts {
    margin-top: 20px;
  }
.post-date, .news-date{
    padding-left:0;
}
.blog-item {
  flex: 1;
  margin-left: var(--margin-l);
  margin-right: var(--margin-l);
  margin-bottom: var(--margin-xl);
  min-width: 290px;
  text-align: left;
  max-width: 336px;
}
.blog-item a{
    display:block;
}
.blog-head{
    margin-top:var(--margin-m);
}
.blog-prev-img {
  width: 100%;
  overflow: hidden;
}
.blog-prev-img img{
      width:100%;

}
.blog-details .tags{
    width:auto;
    margin:0;
}
.blog-img-link{
    display:block;
}
.blog-posts .post {
  flex-basis: 48%;
}
.post-title{
    font-size:1.4em;
    line-height:1.6em;
    font-weight:normal;
    padding:0; 
    margin:00px 0 0px 0;
}
.post-date{
    background-color:transparent;
    font-style:normal;
}
.post-head{
    text-align:left;
}
.post-body{
    padding:0;
    margin-bottom:8px;
}
.post-body .short-description{

}
.short-description {
  font-size: 1.2em;
  line-height: 1.4em;

}
.post-body .short-description p{
    text-align:left;
    margin-top:0;
}
.post-body:hover .short-description p {
  color: #4ab2f1;
}
  .blog-details .buttons {
    text-align: left;
  }
.blog-list-homepage .blog-title {
    margin:8px 0 8px 0;
}
.overview-img .short-description{
    display:none;
}
.overview-short .blog-prev-img{
    display:none;
}
.home-blogs{

}
  .home-blogs .title {
    margin: 0 0 30px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    font-size: 30px;
    font-weight: normal;
    color: #444;
  }
.blog-wrapper {
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width: 1367px) {
  .blog-prev-img {
    
  }
}
@media (max-width: 800px) {
  .justify-content-res {
    justify-content: center;
  }
    .blog-item{
        min-width:400px;
    }
  .blog-posts{
      flex-direction:column;
  }
  .blog-prev-img {

    
  }
}
@media (max-width: 500px){
  .blog-prev-img {
    height: 200px;
  }
  .blog-item {
    min-width: 304px;
  }
}
/*---------------Contact us ----------------*/
.contact-us-news {
  font-size:14px;
  margin-left:8px !important;
  margin-right:8px !important;
  text-align:left !important;
  white-space:normal;
}
.contact-us-news-label{
    vertical-align:top;
}
  .contact-us-news-input{
      vertical-align:top !important;
  }
  /*----------------------------------- Amazon Styles ------------------------*/
  .amazon-ads {
    margin-top: 20px;
  }
.amzn-native-container {
  margin: 0 auto;
}

/*---------------Custom dropdown ------------------*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding:0px;
  margin:0;
  border: none;
  cursor: pointer;
  width:50px;
  height:40px;
  border:1px solid rgba(255,255,255,0);
}
.dropbtn > * {
    pointer-events:none;
}
.custom-icon{
    position:relative;
    justify-content:space-around;
}
.m-circle{
    width:10px;
    height:10px;
    border-radius:50%;
    border:2px solid #c7c7c7;
   
}
.dropbtn img {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: relative;
}
.dropdown-cont{
    margin-left:0 !important;
}
.dropbtn:hover {
  border: 1px solid #ddd;
}
.dropbtn:focus{
    outline:none;
}

.dropdown {
  position: relative;
  top:2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 224px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
  }

.dropdown a:hover {
  background-color: #fff;
}

.show {
  display: block;
}
/*------------------ Contactus ---------------*/
.contact-us-news{
    margin-bottom:16px;
}
.contact-us-news .newsletter .title {
  margin-bottom: 8px;
}
/*----------------- About Us ---------------*/
.about-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}